<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="static/style.css">
    <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
    <script type = "text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line','calendar','timeline']});
        google.charts.setOnLoadCallback( function() { drawChart() });
    </script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>integracion a media funcion</h1>
    <p>Anda muevete</p>
    <div id = "container"></div>
    <div id="chart"></div>
    <!-- <div id="plot"></div> -->
    <script src="static/script.js"></script>
</body>
</html>